.AuditPage {
  width: 100%;
  height: 100%;
}

.AuditPage .operateList {
  overflow-y: auto;
  height: calc(100% - 161px);
  padding: 0 35px;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.AuditPage .operateList .log {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 50px;
}

.AuditPage .operateList .log span {
  font-size: 12px;
  text-align: left;
  color: #000;
  display: inline-block;
  width: 414px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.AuditPage .operateList .log img {
  cursor: pointer;
}

.AuditPage .operateList .log img:hover {
  opacity: 0.5;
}

.AuditPage .footer {
  height: 67px;
  margin: 0 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid #e7e7e7;
}

.AuditPage .footer input {
  width: 409px;
  height: 36px;
  border-radius: 2px;
  background-color: #fff;
  border: solid 1px #e7e7e7;
  box-sizing: border-box;
  outline: 0 none;
  padding-left: 15px;
}

.AuditPage .footer img {
  margin-left: 14px;
  cursor: pointer;
}

.AuditPage .footer img:hover {
  opacity: 0.5;
}

.modalFileName {
  font-size: 12px;
  text-align: center;
  color: #000;
  margin: 0;
}

.modalFileDetail, .modalListItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 15px;
}

.modalListItem {
  display: block;
}

.modalFileDetail p, .modalListItem p {
  margin: 0;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 1px;
  text-align: left;
  color: #9a9a9a;
  padding-left: 16px;
}

.modalFileDetail p span, .modalListItem p span {
  font-size: 12px;
  font-weight: 500;
  color: #000;
}

.modalButton {
  margin-top: 10px;
  cursor: pointer;
}

.modalButton:hover {
  opacity: 0.5;
}
