.register {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.register .back {
  position: absolute;
  left: 19px;
  top: 34px;
}

.register .title {
  margin-bottom: 44px;
}

.register .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register .form input {
  display: block;
  width: 304px;
  height: 28px;
  border-radius: 14px;
  background-color: #19284e;
  border: 0 none;
  outline: 0 none;
  color: #fff;
  padding-left: 22px;
  margin-top: 9px;
}

.register .form a {
  display: inline-block;
  height: 34px;
  margin-top: 53px;
}
